::ng-deep {
  .p-drawer.layout-sidebar {
    width: var(--sidebar-width);
    .p-drawer-header {
      padding-inline: 0;
      justify-content: center;
    }

    .p-drawer-content {
      padding: 0;
    }
  }

  .status-dropdown {
    .p-placeholder,
    .p-select-label,
    .p-select-dropdown-icon {
      color: white;
    }
  }
}
