::ng-deep {
  .p-drawer.layout-sidebar {
    width: var(--sidebar-width);
    .p-drawer-header {
      padding-inline: 0;
      justify-content: center;
    }

    .p-drawer-content {
      padding: 0;
    }
  }
}
