<p-drawer
  [(visible)]="visible"
  position="left"
  closable="false"
  appendTo="body"
  [closeOnEscape]="false"
  [modal]="false"
  styleClass="layout-sidebar"
>
  <ng-template #header>
    <img
      src="assets/media/colored-portrait-logo.png"
      style="width: 3.7rem"
      alt="8X CRM Logo"
    />
  </ng-template>
  <ng-template #content>
    <div class="flex flex-column h-full">
      <ul class="list-none p-0 m-0 text-center flex flex-column gap-3">
        @for (link of topMenuItems(); track $index) {
        <li>
          <a
            [routerLink]="link.routerLink"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            [pTooltip]="link.label"
          >
            <i class="{{ link.icon }} text-xl font-meduim"></i>
          </a>
        </li>
        }
      </ul>
      <ul
        class="list-none p-0 m-0 text-center flex flex-column gap-3 mt-auto mb-3"
      >
        @for (link of bottomMenuItems(); track $index) {
        <li>
          <a
            [routerLink]="link.routerLink"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            [pTooltip]="link.label"
          >
            <i class="{{ link.icon }} text-xl font-meduim"></i>
          </a>
        </li>
        }
      </ul>
      <ng-container *ngTemplateOutlet="settings"></ng-container>
    </div>
  </ng-template>
</p-drawer>

<ng-template #settings>
  <div class="flex justify-content-center mb-2">
    <button
      pButton
      class="border-0 bg-transparent p-0 hover:shadow-2"
      [rounded]="true"
      style="width: 2rem; height: 2rem"
      (click)="op.toggle($event)"
    >
      <img
        class="w-full h-full img-cover"
        alt=""
        [src]="currentUser()?.featured_image || 'assets/media/avatar.jpg'"
      />
    </button>
    <p-popover #op styleClass="shadow-2">
      <ng-container
        *ngTemplateOutlet="user; context: { $implicit: currentUser() }"
      ></ng-container>
    </p-popover>
  </div>
</ng-template>

<ng-template #user let-currentUser>
  <div>
    <div class="flex align-items-center gap-3 mb-3">
      <div>
        <h3 class="m-0 text-base font-semibold">
          {{ currentUser?.first_name }}
        </h3>
        <h4 class="m-0 text-500 text-sm font-light">
          {{ currentUser?.email }}
        </h4>
      </div>
    </div>
    <button
      pButton
      icon="fa-solid fa-arrow-right-from-bracket text-white"
      class="uppercase text-sm w-full bg-primary-color border-none shadow-none p-1"
      (click)="logout()"
      [label]="'logout' | translate"
    ></button>
  </div>
</ng-template>
