<div class="text-center mb-3">
  <h1 class="font-bold text-xl">{{ "Reset Password" | translate }}</h1>
</div>

<form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
  <div>
    <formly-form [model]="model" [fields]="fields" [form]="resetForm" />
  </div>

  <div class="pt-3 border-top-1 border-300">
    <button
      pButton
      pRipple
      class="p-button-sm p-button-success"
      type="submit"
      class="uppercase text-base w-full bg-primary-color border-none shadow-none"
      [loading]="loading()"
      [label]="'submit' | translate"
    ></button>
  </div>
</form>
