<div class="auth-holder surface-0">
  <img class="login-shape" src="assets/media/text.png" alt="" />

  <div class="sm:w-25rem w-full">
    <div class="border-1 border-400 border-round-2xl py-6 px-3 mb-3">
      <router-outlet />
    </div>

    <div class="font-semibold text-center">
      <p class="text-sm capitalize">
        {{ getDate }}
        &copy;
        {{ "Respond platform powered by" | translate }}
        <a
          href="https://www.8worx.com/"
          target="_blank"
          title="8WORX,8XEgypt,8XUAE"
          class="text-blue-500 font-semibold"
          >8WORX</a
        >
      </p>
    </div>
  </div>
</div>
<div class="container"></div>
