<div class="grid grid-nogutter h-screen">
  <div class="col-12 lg:col-6">
    <div class="flex flex-column gap-3 justify-content-around h-full">
      <div>
        <img
          class="w-12rem mx-auto block"
          src="assets/media/colored-portrait-logo.png"
          alt="logo"
        />
      </div>
      <div class="md:w-25rem md:mx-auto">
        <router-outlet></router-outlet>
      </div>
      <div class="text-center">
        <p class="text-sm capitalize">
          &copy; Copyright
          {{ getDate }}
          {{ "all rights reserved to" | translate }}
          <a
            href="https://www.8worx.com/"
            target="_blank"
            title="8WORX,8XEgypt,8XUAE"
            class="text-blue-500 font-semibold"
            >8WORX</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="lg:col-6 hidden lg:block">
    <img
      class="image h-full w-full block object-cover"
      src="assets/media/login-bg.jpg"
      alt="Login Image"
    />
  </div>
</div>
