<footer class="layout-footer text-600">
  <div class="text-xs poppins-font">
    {{ getCurrentYear() }} © 8X CRM, powered_by
    <a
      href="https://www.8worx.com"
      class="text-primary font-semibold hover:underline"
      target="_blank"
    >
      8WORX
    </a>
  </div>
  <ul
    class="list-none p-0 m-0 flex flex-wrap md:justify-content-end align-items-center column-gap-3 row-gap-1 text-xs"
  >
    <li>
      <a
        pButton
        href="#"
        class="p-button-link p-0 text-xs font-medium hover:underline"
        target="_blank"
        rel="noopener"
        noreferrer
      >
        help center
      </a>
    </li>
    <li>
      <a
        pButton
        href="#"
        class="p-button-link p-0 text-xs font-medium hover:underline"
        target="_blank"
        rel="noopener"
        noreferrer
      >
        terms
      </a>
    </li>
    <li>
      <a
        pButton
        href="#"
        class="p-button-link p-0 text-xs font-medium hover:underline"
        target="_blank"
        rel="noopener"
        noreferrer
      >
        privacy
      </a>
    </li>
    <li>
      <a
        pButton
        href="#"
        class="p-button-link p-0 text-xs font-medium hover:underline"
        target="_blank"
        rel="noopener"
        noreferrer
      >
        support portal
      </a>
    </li>
  </ul>
</footer>
