<div class="p-3">
  <div class="flex align-items-center justify-content-between gap-2 mb-3">
    <h2 class="m-0 font-semibold">Login</h2>
    <img width="150" src="assets/media/logo.png" alt="8X Logo" />
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <formly-form [model]="model" [fields]="fields" [form]="loginForm" />
    </div>

    <div class="pt-3 border-top-1 border-300">
      <button
        pButton
        pRipple
        type="submit"
        class="uppercase text-base w-full bg-primary-color border-none shadow-none"
        [loading]="loading()"
        [disabled]="loading()"
        [label]="'login'"
      ></button>
    </div>
  </form>

  <div class="py-3">
    <a class="text-blue-500 capitalize" routerLink="/auth/forget-password">
      {{ "forget_password" | translate }}
    </a>
  </div>
</div>

@if(showEnvelopeAnimation()){
<div class="envelope-overlay">
  <div class="success-scene">
    <div class="envelope-wrapper">
      <div class="envelope">
        <div class="flap"></div>
        <div class="letter">
          <i class="pi pi-check-circle success-icon"></i>
          <p>Welcome Back!</p>
        </div>
      </div>
    </div>
  </div>
</div>
}
