<div class="p-3">
  <div class="text-center mb-3">
    <h1 class="font-bold text-xl">{{ "Forget Password" | translate }}</h1>
  </div>
  @if (!message()) {
  <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <div>
      <formly-form [model]="model" [fields]="fields" [form]="forgetForm" />
    </div>

    <div class="pt-3 border-top-1 border-300">
      <button
        pButton
        pRipple
        class="p-button-sm p-button-success"
        type="submit"
        class="uppercase text-base w-full bg-primary-color border-none shadow-none"
        [loading]="loading()"
        [label]="'submit' | translate"
      ></button>
    </div>
  </form>
  } @else {
  <div class="text-center mt-3">
    <p class="max-w-20rem">{{ message() }}</p>
  </div>
  }
</div>
