<app-table-wrapper
  [headerTitle]="indexMeta.indexTitle"
  [titleIcon]="indexMeta.indexIcon"
  [headerBtnLabel]="indexMeta.createBtnLabel"
  [withMultiLayout]="withMultiLayout()"
  [isCardTable]="isCardTable()"
  [columns]="indexMeta.columns"
  [rows]="rows()"
  [dataSource]="records()"
  [loading]="isLoading()"
  [totalRecords]="totalRecords()"
  [recordsFiltered]="recordsFiltered()"
  [stateKey]="indexMeta.indexTableKey"
  [indexPermissions]="permissions().index"
  [updateBtnPermissions]="permissions().update"
  [createBtnPermissions]="permissions().create"
  [deleteBtnPermissions]="permissions().delete"
  [reorderableColumns]="indexMeta.reorderableColumns ?? false"
  [reorderableRows]="indexMeta.reorderableRows ?? false"
  (onRowReorder)="onRowReorder($event)"
  (createBtnClicked)="openCreateRecordDialog()"
  (updateBtnClicked)="openUpdateRecordDialog($event)"
  (deleteBtnClicked)="confirmDelete($event)"
  (onLoadData)="loadRecords($event)"
/>
