@use "../public/assets/styles/main.scss"; // import sass module (entry point)
@use "@ctrl/ngx-emoji-mart/picker";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "primeicons/primeicons.css";
